requests 
pandas 
python-dotenv 


dash
dash-bootstrap-components
plotly
pandas
geopandas
pyproj
shapely
pyogrio
fiona
psycopg2-binary
sqlalchemy
scikit-learn
folium
matplotlib
gunicorn
python-dotenv
requests

